// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #2efb00 !default;
$header-bg-color: #2efb00 !default;
$header-bg-color-secondary: #9900ff !default;

// Body
$body-background-color: #000 !default;

// Text
$section-headings-color: #2efb00 !default;
$body-text-color: #fff !default;
$body-link-color: #9900ff !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #2efb001e !default;
$code-text-color: #fff !default;

// Highlight
$highlight-bg-color: #001500 !default;

// Borders
$border-color: #2efb001e !default;
$table-border-color: #000000 !default;
$hr-border-color: #eff0f1 !default;
